---
---
<html>
{% include meta.html %}

<body>
{% include header.html %}

<section class="homepage">

<section class="side">
<div class="profile">
<div class="profile_name"><span class="icon icon-profile"></span>
{{ site.author.name }}
</div>
<div class="profile_description">
{{ site.author.description }}
</div>
<address>
<span class="icon icon-homepage"></span>
<a href="http://{{ site.url }}">{{ site.url }}</a>
<br/>
<span class="icon icon-mail"></span>
<a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a>
</address>
</div>

<div class="feed"><span class="icon icon-feed"></span>
<a href="{{ site.baseurl }}/feed.xml">{{ site.name }}</a>
</div>

<div class="twitter">
<a class="twitter-timeline"  href="https://twitter.com/{{ site.author.twitter }}" data-widget-id="355130959714201600">@{{ site.author.twitter }} 發送的推文</a>
</div>
</section><!--side-->

<section class="posts">
{% assign post = site.categories.events.first %}
<article class="index_article">
  {% include post_date.html %}
  <h1>快報或告示</h1>
  <div class="excerpt">
    {{ post.content }}
  </div>
</article>

{% for post in site.posts limit:5 %}
{% include index_articles.html %}
{% endfor %}

</section><!--posts-->

</section><!--homepage-->

<section class="site_map">
<div class="tag">
<a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: "page:num/", '' }}">分頁瀏覽</a>
</div>
{% for category in site.categories %}
{% assign cid = category[0] %}
<div class="tag">
<a href="{{ site.baseurl }}/categories/{{ cid }}.html">{{ site.cname[cid] }}</a>
</div>
{% endfor %}
</section><!--site_map-->

{% include footer.html %}
</body>
</html>
