<html>
{% include meta.html %}

<body>
{% include header.html %}

<section class="category">
<a name="page_top"></a>
<section class="posts">

{% for post in category %}

<div class="category_list">
<span class="category_list_date">{{ post.date | date: "%F" }}</span>
<a href="{{ site.baseurl }}{{ post.url }}">
<span class="category_list_title">{{ post.title }}</span>
</a>
</div>

{% endfor %}

</section><!--posts-->
</section><!--category-->

<section class="site_map">
<div class="pagination">
<span class="page_number">
<a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: "page:num/", '' }}">分頁瀏覽</a>
</span>

{% include page_top.html %}

</div><!--pagination-->
</section><!--site_map-->

{% include footer.html %}
</body>
</html>