<footer id="site_footer">

<div class="author">
  {{ site.author.name }}
  <br />
  <!--
  <span class="icon icon-mail"></span>
  <a href="mailto: site.author.email "> site.author.email </a>
  <br/>
  -->
  <span class="icon icon-twitter"></span>
  <a href="https://twitter.com/{{ site.author.twitter }}">@{{ site.author.twitter }}</a>
  <br/>
  <span class="icon icon-link"></span>
  <a href="{{ site.url }}{{ site.baseurl }}/privacy_policy.html">隱私權政策</a>
  <br/>
  <span class="icon icon-github"></span>
  <a href="{{ site.repo_url }}">Host on GitHub</a>
</div><!--author-->

<div class="copyright_logo">
  <a href="https://www.gnu.org/licenses/fdl-1.3.html"><img alt="GNU FDL" style="border-width:0" src="https://www.gnu.org/graphics/gfdl-logo-small.png" height="31" /></a>
  <a href="https://www.gnu.org/licenses/gpl.html"><img alt="GNU GPL" style="border-width:0" src="https://www.gnu.org/graphics/gplv3-127x51.png" height="31" /></a>
  <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/"><img alt="創用 CC 授權條款" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a>
</div><!--copyright_logo-->

<div class="copyright_text">
  本站內容由<span class="person" xmlns:cc="https://creativecommons.org/ns#" property="cc:attributionName">{{ site.author.name }}</span>製作，以 <cite><a href="https://www.gnu.org/licenses/fdl-1.3.html">GNU FDL 1.3</a></cite> 或 <cite><a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">創用CC 姓名標示-相同方式分享 4.0 國際授權條款</a></cite> 釋出。著作中之程式碼內容，凡未特別說明者，應以 <cite><a href="https://www.gnu.org/licenses/gpl.html">GNU GPL</a></cite>、<cite><a href="https://www.gnu.org/licenses/lgpl.html">GNU LGPL</a></cite> 或 <cite><a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA</a></cite> 利用。
</div><!--copyright_text-->

</footer>
