<footer id="site_footer">
<table>
<tr>
<td>
<address>
{{ site.author.name }}
<br/>
<!--
<span class="icon icon-mail"></span>
<a href="mailto: site.author.email "> site.author.email </a>
<br/>
-->
<span class="icon icon-twitter"></span>
<a href="https://twitter.com/intent/follow?screen_name={{ site.author.twitter }}">@{{ site.author.twitter }}</a>
<br/>
<span class="icon icon-github"></span>
<a href="{{ site.repo_url }}">Host on GitHub</a>
</address>
</td>

<td>
<div style="text-align:center;">
<a href="http://www.gnu.org/licenses/fdl-1.3.html"><img alt="GNU FDL" style="border-width:0" src="http://www.gnu.org/graphics/gfdl-logo-small.png" height="31" /></a>
<a href="http://www.gnu.org/licenses/gpl.html"><img alt="GNU GPL" style="border-width:0" src="http://www.gnu.org/graphics/gplv3-127x51.png" height="31" /></a>
<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="創用 CC 授權條款" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a>
</div>
<div class="small">
本著作由<span class="person" xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">{{ site.author.name }}</span>製作，以 <cite><a href="http://www.gnu.org/licenses/fdl-1.3.html">GNU FDL 1.3</a></cite> 或 <cite><a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">創用CC 姓名標示-相同方式分享 4.0 國際 授權條款</a></cite> 釋出。著作中之程式碼部份，凡未特別說明者，亦得以 <cite><a href="http://www.gnu.org/licenses/gpl.html">GNU GPL 3.0</a></cite> 或 <cite><a href="http://www.gnu.org/licenses/lgpl.html">GNU LGPL 3.0</a></cite> 利用。
</div>
</td>
</tr>
</table>
<div style="text-align:center;">
<script type="text/javascript" src="http://codice.shinystat.com/cgi-bin/getcod.cgi?USER=rocksaying"></script>
</div>
</footer>
