<header id="site_header">
<figure>
  <figcaption><a href="//{{ site.url }}">{{ site.name }}</a></figcaption>
  <div class="site_title2">{{ site.alias }}</div>
  <div class="site_description">{{ site.description }}</div>
</figure>

<nav>
<div id="site_categories">
  <div class="nav_item">
    <a href="/"><span class="iconfont">&#xf015;</span></a>
  </div>

  <div class="nav_item">
    <a href="{{ site.baseurl }}/categories/programming.html">Programming</a>
  </div>
  <div class="nav_item">
    <a href="{{ site.baseurl }}/categories/computer.html">電腦技術</a>
  </div>
  <div class="nav_item">
    <a href="{{ site.baseurl }}/categories/life.html">休閒生活</a>
  </div>
  <div class="nav_item">
    <a href="{{ site.baseurl }}/categories/reading.html">閱讀隨筆</a>
  </div>
  <div class="nav_item">
    <a href="{{ site.baseurl }}/categories/economics.html">經濟學/奧地利經濟學派</a>
  </div>
  <div class="nav_item">
    <a href="{{ site.baseurl }}/categories/events.html">快報記事</a>
  </div>
</div>

<div id="site_search">
<!--
<form action="https://www.google.com/search" method="get" target="_blank" onsubmit="this.q.value += ' site:{{ site.url }}'">
<input name="q" type="search" size="10" placeholder="search..." /><button name="sa" type="submit"><span class="icon">&#xf002;</span></button>
</form>
-->
<script async src="https://cse.google.com/cse.js?cx=4c78ec9510fb9a9c0"></script>
<div class="gcse-search"></div>
</div>
</nav>
</header>