<header id="site_header">
<figure>
  <figcaption>{{ site.name }}</figcaption>
  <div class="site_title2">{{ site.alias }}</div>
  <div class="site_description">{{ site.description }}</div>
</figure>

<nav>
<div id="site_categories">
</div>

<div id="site_search">
<form action="https://www.google.com/search" method="get" target="_blank" onsubmit="this.q.value += ' site:{{ site.url }}'">
<input name="q" type="search" size="10" placeholder="search..." /><button name="sa" type="submit"><span class="icon">&#xf002;</span></button>
</form>
</div>
</nav>
</header>