<article class="index_article">
  <div class="post_date">
    <div class="post_date_month">{{ post.date | date: "%m" }}月</div>
    <div class="post_date_day">{{ post.date | date: "%d" }}</div>
    <div class="post_date_year">{{ post.date | date: "%Y" }}</div>
  </div>

  <a href="{{ site.baseurl }}{{ post.url }}">
  <h1>{{ post.title }}</h1>
  </a>
  <div class="excerpt">
    {{ post.excerpt }}
    <div class="read_more">
      <a href="{{ site.baseurl }}{{ post.url }}">全文</a>
    </div>
  </div>
</article>
