<head>
<meta charset="utf-8">
{% if page.title %}
<title>{{ page.title }} - {{ site.name }}</title>
{% elsif title %}
<title>{{ title }} - {{ site.name }}</title>
{% else %}
<title>{{ site.name }}</title>
{% endif %}
{% if page.cover %}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@{{ site.author.twitter }}">
<meta property="og:site_name" content="{{ site.name }}">
<meta property="og:title" content="{{ page.title }}">
<meta property="og:url" content="http://{{ site.url }}{{ site.baseurl }}{{ page.url }}">
<meta property="og:image" content="{{ page.cover }}">
<meta property="og:description" content="{{ page.excerpt | strip_html | strip_newlines }}">
{% endif %}

<link rel="stylesheet" href="{{ site.baseurl }}/assets/site.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/assets/code.css" />
<script src="{{ site.baseurl }}/assets/site.js"></script>
<script src="//platform.twitter.com/widgets.js"></script>
</head>