<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
{% if page.title %}
<title>{{ page.title }} - {{ site.title }}</title>
{% elsif title %}
<title>{{ title }} - {{ site.title }}</title>
{% else %}
<title>{{ site.title }}</title>
{% endif %}
{% if page.cover %}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@{{ site.author.twitter }}">
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:title" content="{{ page.title }}">
<meta property="og:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url }}">
<meta property="og:image" content="{{ page.cover }}">
<meta property="og:description" content="{{ page.excerpt | strip_html | strip_newlines | truncate: 80, ' ...' }}">
{% endif %}

<link rel="stylesheet" href="/assets/site.css" />
<link rel="stylesheet" href="/assets/code.css" />
<script src="{{ '/assets/site.js' | relative_url }}"></script>
<script src="//platform.twitter.com/widgets.js"></script>
<script data-ad-client="ca-pub-6462614507506967" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>