---
---
$code_bg_color: #fafbfc;
$code_border_color: #558abb;
$code_border: 1px solid $code_border_color;
$tag_bg_color: #f4f7f8;
$tag_border_color: #cee9f9;
$icon_color_1: rgb(255,171,0);
$twitter_blue: #55acee;

@font-face {
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/fontawesome-webfont.eot') format('embedded-opentype'), url('/assets/fonts/FontAwesome.otf') format('opentype'), url('/assets/fonts/fontawesome-webfont.ttf') format('truetype');
}

.iconfont {
    font-family: "FontAwesome";
}

.icon {
    @extend .iconfont;
    display: inline-block;
    letter-spacing: 1pt;
    aria-hidden: "true";
}

.icon-mail:before {
    content: "\f003"; /*fa-envelope: f0e0; fa-envelope-o:f003*/
}
.icon-twitter:before {
    content: "\f099";
    color: $twitter_blue;
}
.icon-github:before {
    content: "\f09b";
}

.icon-category:before {
    content: "\f0c5"; /*fa-files-o [&#xf0c5;]*/
    color: $icon_color_1;
}
.icon-tags:before {
    content: "\f02c";
    color: $icon_color_1;
}
.icon-lastupdated:before {
    content: "\f044"; /*fa-edit*/
    color: $icon_color_1;
}
.icon-profile:before {
    content: "\f21b";
}
.icon-feed:before {
    content: "\f09e";
    color: $icon_color_1;
}
.icon-pages:before {
    content: "\f0cb";
    color: $icon_color_1;
}

.icon-first-page:before {
    content: "\f048";
}
.icon-last-page:after {
    content: "\f051";
}
.icon-next:before {
    content: "\f101";
}
.icon-previous:before {
    content: "\f100";
}
.icon-top:before {
    content: "\f102";
}

.icon-image:before {
    content: "\f03e";
    color: rgb(55,200,85);
    margin-left: -3em;
}

.icon-external-link:after {
    content: "\f08e";
}

.icon-link {
    content: "\f0c1";
}
/**** end icon ****/

/**** start normalize ****/
body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration:none;

    &:visited {
    }
}

.small {
    font-size: small;
}

.sup {
    vertical-align: super;
    font-size: smaller;
    color: #ccc;
}

/**** end normalize ****/

#site_header {
    /*position: fixed;*/
    width: 100%;
    background-color: #bfe0ec;
    color: black;
    text-shadow: 2px 1px #ffffff;
    padding-bottom: 0.5em;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    box-shadow: 0 0 8px #ccc;

    .site_title2 {
        font-size: 12px;
    }

    .site_description {
        font-size: 16px;
        text-align: right;
        margin-top: -18px;
        margin-bottom: 0;
    }
}

figure {
    margin: 0;
    padding: 1em 1em 0;
}

figcaption {
    font-size: 28px;
    font-family: "AR PL UKai TW", 標楷體, 文泉驛正黑, 微軟正黑體, simhei;
}


nav {
    .category {
        display: inline;
        padding: 4px;
        font-size: 14px;

        a {
            border-bottom:2px solid #fc0;
        }

        a:hover {
            border-bottom:2px solid #ff0;
        }
    }
}

#site_categories {
    display: inline-block;
    line-height: 16px;
}

#site_search {
    display: inline-block;
    //line-height: 16px;
    background: #ccc;
    position: absolute;
    top: 0;
    right: 0;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
//    box-shadow: 0 0 5px #ccc;

    form {
        margin: 0;
        padding: 0;
    }

    input {
        border: 0;
    }

    button {
        //font-size: 14px;
        border: 0;
        background: rgb(120,150,195);
    }
}

address {
    font-style: normal;
    margin: 0 2em 0 0;
    white-space: nowrap;
}

.homepage {
    float: right;
    width: 30%;
    max-width: 35%;
    margin: 1em 0 1em 1em;
    border-left: 1px solid #ccc;

    .profile {
        padding: 1em;
        border-bottom: 1px solid #ccc;

        .profile_name {
            text-align: center;
            font-size: 120%;
            margin: 0.5em 0;
        }
        .profile_description {
            line-height: 1em;
            margin: 0.5em 0;
        }
    }

    .feed {
        margin: 10px;
        text-align: center;
    }

    .twitter {
        min-height: 600px;
    }
}

#site_footer {
    background-color: rgb(169,201,172);
    padding: 5px 2em;
    margin-top: 5px;
    border-top: 1px solid rgba(0,0,0,0.3);
    box-shadow: 0 0 8px #ccc;

    table {
        border: 0;
    }

    a {
        color: black;

        &:visited {
            color: black;
        }
        &:hover {
            color: blue;
        }
    }

}


.index_article {
    padding: 1em 2em;
    margin: 0;
    margin-right: 30%;
    border-bottom: 1px solid #ccc;

    h1 {
        margin: 6px 6px 6px 70px;
        font-size: 110%;
        border-bottom: 1px solid #ccc;
    }

    .excerpt {
        margin-left: 70px;
    }

    .excerpt p {
        margin: 6px;
    }

    .read_more {
        @extend .tag;

        margin-left: 0.5em;

        &:before {
            content: "...";
        }
    }
}

.site_map {
    margin: 5px;
    padding: 5px;
}

.tag {
    display: inline-block;
    padding: 0px 4px;
    background: $tag_bg_color;
    border: 1px solid $tag_border_color;
    border-radius: 2px;
    margin: 1px;
}

.post_header {
    border: 0 solid red;
    padding: 4px 0 0 0;
    font-size:15px;
    line-height:20px;
}

.post_date {
    border:3px double #ccc;
    float:left;
    clear:left;
    color: rgb(255,171,0);
    font-size:16px;
    line-height:20px;
    text-align:center;
    width:60px;
    margin: 0 5px 0 0;
    padding:2px;

    &_day {
        font-size: 20px;
        line-height:22px;
    }
}

.page_footer {
    margin: 5px 0;
    text-align: center;

    .share {
        border: 1px solid #cee9f9;
        background: #f4f7f8;
        border-left: 0;
        border-right: 0;
        padding: 5px 0px;
        margin: 5px 0px;
    }

    .fb-like {
        display: inline-block;
        position: relative;
        top: 5px;
    }
}

.page_nav {
    &_previous,
    &_top,
    &_next,
    &_last,
    &_first {
        padding: 0 5px;
    }

    &_previous,
    &_first {
        border-right: 2px solid #ccc;
    }

    &_next,
    &_last {
        border-left: 2px solid #ccc;
    }
}

.pagination {
//    margin: 1em;
//    text-align: center;

    .page_number {
        @extend .tag;
        margin: 0 5px;
    }
}

article {
    padding: 1em 2em 1em 2em;

    h1 {
        font-size: 160%;
    }
    h2 {
        font-size: 150%;
    }
    h3 {
        font-size: 140%;
    }
    h4 {
        font-size: 130%;
    }
    h5 {
        font-size: 120%;
    }
    h6 {
        font-size: 110%;
    }

    a:hover {
        background-color:#ff9;
        text-decoration:underline;
    }

    .main a[href*="rocksaying"]:after {
        content: ""; //"\f0c1"
    }

    .main a:after {
        @extend .iconfont;
        @extend .sup;
        content: "\f08e";
    }

    p {
        text-indent:2em;
        line-height:150%;
    }

    img {
        display: block;
        border: 1px solid black;
        box-shadow:3px 3px 1px gray;
        background-color: #e6e6e6;
        padding: 6px;
        padding-bottom: 30px;
        margin: 0em auto;
        cursor: pointer;
        /*max-width: 97%;
        min-width: 100px;*/
    }

    .note {
        @extend .small;
        color: rgb(50,55,110);
        margin-left: 4em;
        margin-right: 4em;
        padding: 5px;
        border: 1px dashed #ccc;
        border-left: 0;
        border-right: 0;
    }

    del {
        text-decoration:line-through;
        color:gray;
    }

    dfn {
        font-style:normal;
        color:#00b;
        text-decoration: underline;
    }

    em, strong {
        font-style: normal;
        font-weight: bold;
    }

    code, kbd, var {
        font-family:monospace;
    }

    code {
        background-color: $code_bg_color;
        border: $code_border;
        padding: 0 2px;
    }

    var {
        color:#900;
        font-style:normal;
    }

    kbd:after {
        @extend .iconfont;
        @extend .sup;
        content: "\f11c";
    }
} //article

/**** start code highlight ****/
.highlighttable {
    border-collapse: collapse;
    border-spacing: 0;
    border: $code_border;
    background-color: $code_bg_color;
    width: 100%;

    .linenos {
        color: rgb(230,230,230);
        background-color: $code_border_color;
        width: 2%;
        max-width: 5%;
        text-align: right;
    }
    code { // line no
        background: $code_border_color;
    }

    .highlight {
        border: 0;
    }
    .code {
        padding: 0;
    }
}

.highlight, .language-text {
    border: $code_border;
    border-left: 5px solid $code_border_color;
    background-color: $code_bg_color;
    padding: 0 2px;

    code {
        border: 0;
    }
}

code[class*="language-"] {
    display: block;
    font-family:monospace;
    tab-size: 4;
    -moz-tab-size: 4;
    padding: 0 4px;
}

.language-term {
    color:#FFF;
    background-color:#000;
    border: 3px solid rgb(220,225,230);

    &:before {
        display: block;
        color: black;
        background-color: rgb(220,225,230);
        @extend .iconfont;
        content: "Command Line \f120";
        margin: 0 -4px;
    }
}
/**** end code highlight ****/

/**** start quote ****/
blockquote {
    color: rgb(50,55,110);
    line-height:150%;
    background-color: rgba(250,251,252,0.8);

    &:before {
        @extend .iconfont;
        content: "\f10d";
        margin-left: -1em;
    }
    &:after {
        @extend .iconfont;
        content: "\f10e";
        display: block;
        text-align: right;
        margin-right: -1em;
    }

    cite {
        display:block;
        text-align:right;
        text-decoration: none;
    }

    cite:before {
        content:"\2014";
        padding-right: 4pt;
    }
}

q {
}

cite {
    text-decoration: underline;
    -moz-text-decoration-style: wavy;
    text-decoration-style: wavy;
}

.person {
    text-decoration: underline;
}
/**** end blockquote ****/
