---
---
$ink: #1b1b1b;

$gray_lightest_color: #f0f0f0;
$gray_light_color: #a9aeb1;
$gray_color: #71767a;
$gray_dark_color: #565c65;
$gray_cool_light_color: #ebf1f5; // #dce4ef;

$red_lightest_color: #f8dfe2;
$red_light_color: #f2938c;
$red_color: #d83933;
$red_dark_color: #b51d09;

$gold_lightest_color: #fef0c8;
$gold_light_color: #ffe396;
$gold_color: #ffbe2e;
$gold_dark_color: #c2850c;

$green_lightest_color: #b7f5bd;
$green_light_color: #21c834;
//$green_color: #008817;
$green_color: #198754;
$green_dark_color: #4d8055;

$blue_lightest_color: #d9e8f6;
$blue_light_color: #73b3e7;
//$blue_color: #005ea2;
$blue_color: #0d6efd;
$blue_dark_color: #1a4480;
$blue_darkest_color: #162e51;

$primary_lightest_color: $blue_lightest_color;
$primary_light_color: $blue_light_color;
$primary_color: $blue_color;
$primary_dark_color: $blue_darkest_color;

$primary_alt_lightest_color: #e1f3f8;
$primary_alt_light_color: #97d4ea;
$primary_alt_color: #00bde3;
$primary_alt_dark_color: #07648d;

$focus_color: $blue_color;
$visited_color: #4d52b0;

//$code_bg_color: rgba(250,251,252,0.8);
$code_bg_color: $gray_cool_light_color;
$code_border_color: #558abb;
$code_border: 1px solid $code_border_color;
$tag_bg_color: $primary_alt_lightest_color;
$tag_border_color: $primary_alt_color;
$icon_color_1: $gold_color;
$twitter_blue: #55acee;

$header_line_color: $gold_color;
$header_line_shadow: 0 3px 0 $gold_lightest_color;

$note_text_color: $blue_dark_color;

$desktop_font_size: 18px;
$phone_font_size: 14px;

@font-face {
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/fontawesome-webfont.eot') format('embedded-opentype'), url('/assets/fonts/FontAwesome.otf') format('opentype'), url('/assets/fonts/fontawesome-webfont.ttf') format('truetype');
}

.iconfont {
    font-family: "FontAwesome";
}

.icon {
    @extend .iconfont;
    display: inline-block;
    letter-spacing: 1pt;
    font-style: normal;
    aria-hidden: "true";
}

.icon-mail:before {
    content: "\f003"; /*fa-envelope: f0e0; fa-envelope-o:f003*/
}
.icon-homepage:before {
    content: "\f015";
    color: $primary_alt_dark_color;
}
.icon-twitter:before {
    content: "\f099";
    color: $twitter_blue;
}
.icon-github:before {
    content: "\f09b";
}
.icon-image-album:before {
    content: "\f03e";
    color: $green_color;
}

.icon-comment:before {
    content: "\f075";
}

.icon-category:before {
    content: "\f0c5"; /*fa-files-o [&#xf0c5;]*/
    color: $icon_color_1;
}
.icon-tags:before {
    content: "\f02c";
    color: $icon_color_1;
}
.icon-lastupdated:before {
    content: "\f044"; /*fa-edit*/
    color: $icon_color_1;
}
.icon-profile:before {
    content: "\f21b";
}
.icon-feed:before {
    content: "\f09e";
    color: $icon_color_1;
}
.icon-pages:before {
    content: "\f0cb";
    color: $icon_color_1;
}

.icon-first-page:before {
    content: "\f048";
}
.icon-last-page:after {
    content: "\f051";
}
.icon-next:after {
    content: "\f101";
}
.icon-previous:before {
    content: "\f100";
}
.icon-top:before {
    content: "\f102";
}

.icon-image:before {
    content: "\f03e";
    color: $green_color;
    //color: rgb(55,200,85);
//    margin-left: -3em;
}

.icon-external-link:after {
    content: "\f08e";
}

.icon-link {
    content: "\f0c1";
}
/**** end icon ****/

.btn-share {
    font-size: 12px;
    border-radius: 2px;
    padding: 3px 4px 1px 4px;
    color: $gray_lightest_color;
}

.btn-success {
    background-color: $green_color;
}

/**** start normalize ****/
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

html {
    height: 100%;
}

@media all {
    body,
    p {
        font-size: $desktop_font_size;
    }
}

a {
    text-decoration:none;

    &:visited {
    }

    &:hover {
        // text-decoration:underline;
    }
}

.small {
    font-size: 0.85em;
}

.sup {
    vertical-align: super;
    font-size: smaller;
    color: $gray_cool_light_color;
}

/**** end normalize ****/

#site_header {
    /*position: fixed;*/
    width: 100%;
    //background-image: url("/assets/images/blueprint.png"), linear-gradient(to bottom, #16a4e5, #06D0FD);
    background-image: url("/assets/images/blueprint.png"), linear-gradient(to bottom, #069BE0, #50e0ff);
    //background-color: #50e0ff;
    color: black;
    text-shadow: 1px 1px #cccccc;
    //padding-bottom: 0.5em;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    box-shadow: 0 0 8px $gray_lightest_color;

    .site_title2 {
        font-size: 18px;
    }

    .site_description {
        text-align: right;
        margin-top: -1em;
        margin-bottom: 0;
        font-size: 18px;
    }
}

figure {
    margin: 0;
    padding: 1em 2em 0 2em;
}

figcaption {
    font-size: 250%;
    font-family: "AR PL UKai TW", 標楷體, SimKai, 文泉驛正黑, 微軟正黑體, SimHei;

    a {
        color: black;
    }
    a:hover {
        text-decoration: none;
    }
}


nav {
    .nav_item {
        display: inline-block;
        padding: 2px;
        // font-size: small;

        a {
            //color: rgb(10,20,80);
            color: $blue_darkest_color;
            border-bottom:2px solid #fc0;
        }

        a:hover {
            border-bottom:2px solid #ff0;
            text-decoration: none;
        }
    }
}

#site_categories {
    display: inline-block;
    line-height: 21px;
}

#site_search {
    display: inline-block;
    position: absolute;
    top: 5px;
    right: 5px;
    height: 24px;

    input {
        height: 24px;
        padding: 0 5px;
        margin: 0;
        border: 0;
        border-radius: 5px 0 0 5px;
    }

    button {
        height: 24px;
        padding: 0 5px;
        margin: 0;
        border: 0;
        border-radius: 0 5px 5px 0;
        background: rgb(120,150,195);
    }
}

address {
    font-style: normal;
    margin: 0 2em 0 0;
    //white-space: nowrap;
}

.side {
    float: right;
    width: 35%;
    max-width: 40%;
    margin: 1em 0 1em 1em;
    border-left: 1px solid $blue_color;

    .profile {
        padding: 1em;
        border-bottom: 1px solid $gray_lightest_color;

        .profile_name {
            text-align: center;
            font-size: 120%;
            margin: 1em 0;
        }
        .profile_description {
            line-height: 1em;
            margin: 0.5em 0;
        }
    }

    .feed {
        margin: 10px;
        text-align: center;
    }

    .twitter {
        height: 100%;
    }
}

#site_footer {
    width: 100%;
    clear: both;
    background-color: rgb(169,201,172);
    // padding: 12px 2em;
    padding: 0;
    margin: 0;
    border-top: 1px solid rgba(0,0,0,0.3);
    box-shadow: 0 0 8px $gray_light_color;
    // text-align: center;

    a {
        color: black;

        &:visited {
            color: black;
        }
        &:hover {
            color: blue;
        }
    }

    .site_footer_head {
        text-align: left;
        padding: 1em;
        .author {
            padding-right: 40px;
            text-shadow: 1px 1px #ffffff;
            float: left;
        }

        .copyright {
            &_logo {
                width: 120px;
                float: left;
            }

            &_text {
                font-size: 90%;
            }
        }
    }

    // address {
    //     text-shadow: 1px 1px #ffffff;
    //     font-size: 105%;
    // }

    .site_counter {
        clear: both;
    }
}

section.posts,
section.post {
    background:url(/assets/images/background.png) no-repeat fixed right bottom transparent;
}

.index_article {
    padding: 1.5em 2em 3em 2em;
    margin: 0;
    border-bottom: 1px solid $gray_lightest_color;

    h1 {
        margin: 1em 0 2em 70px;
        font-size: 110%;
        border-bottom: 1px solid $gray_light_color;
        box-shadow: 0 3px 0 $gray_lightest_color;
    }

    h1 a:hover {
        text-decoration: none;
    }

    .excerpt {
        margin-left: 70px;
    }

    .excerpt p {
        margin: 1em;
    }

    .read_more {
        @extend .tag;

        margin-left: 0.5em;

        &:before {
            content: "...";
        }
    }
}

.homepage {
    .posts {
        margin-right: 35%;
    }
}

.site_map {
    margin: 5px;
    padding: 5px;
}

.homepage_disqus {
    max-width: 57%;
    margin: 3em;
}

.tag {
    display: inline-block;
    padding: 0px 4px;
    background: $tag_bg_color;
    border: 1px solid $tag_border_color;
    border-radius: 2px;
    margin: 1px;
}

.post_header {
    border: 0;
    padding: 4px 0 0 0;
    font-size: 95%; //15px
    line-height: 125%; //20px;
}

.post_date {
    border:3px double $gray_light_color;
    float:left;
    clear:left;
    color: $red_color;
    font-size: 100%; //16px
    line-height: 125%;//20px;
    text-align:center;
    width:60px;
    margin: 0 5px 0 0;
    padding:2px;

    &_day {
        font-size: 120%; //20px;
        line-height: 135%; //22px;
    }
}

.post_footer {
    margin: 5px 0;
    text-align: center;

    .share {
        // height: 20px;
        // max-height: 20px;
        border: 1px solid #cee9f9;
        background: #f4f7f8;
        border-left: 0;
        border-right: 0;
        padding: 1em 0;
        margin: 1em 0;

        /* This gets Facebook to fall into place. https://gist.github.com/thebigreason/1296097 */
        iframe {
            vertical-align: bottom;
        }
    }
}

.pagination {
    text-align: center;
    margin: 10px 0;

    .page {
        &_previous,
        &_top,
        &_next,
        &_last,
        &_first,
        &_number {
            padding: 2px 8px;
            margin: 5px 10px;
        }

        &_previous,
        &_first {
            border-right: 2px solid $gray_lightest_color;
        }

        &_next,
        &_last {
            border-left: 2px solid $gray_lightest_color;
        }

        &_number {
            background-color: #0071bc;
            border-radius: 4px;

            a, a:visited {
                color: white;
            }
            a:hover {
                text-decoration: none;
            }
        }
        &_number:hover {
            background-color: #205493;
        }
    }
}

.category {
    margin: 1em;
    padding: 1em;

    .posts {
        border: 1px solid $gray_lightest_color;
    }

    &_list {
        border-bottom: 1px solid $gray_lightest_color;
        padding: 2px;
    }
    &_list:nth-child(even) {
        background-color: rgba(225,243,248,0.7);
    }
    &_list_date {
        border-right: 1px solid $gray_lightest_color;
        padding: 2px;
    }
    &_list_title {
        padding: 2px;
    }
}

article {
    // padding: 2em 3em 1em 3em;
    padding: 2em 5% 1em 5%;

    h1 {
        font-size: 150%;
        border-bottom: 3px double $header_line_color;
        box-shadow: $header_line_shadow;
    }
    h2 {
        font-size: 140%;
        border-bottom: 3px double $header_line_color;
    }
    h3 {
        font-size: 130%;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
        border-bottom: 3px solid $header_line_color;
        box-shadow: $header_line_shadow;
    }
    h4 {
        font-size: 120%;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
        border-bottom: 3px solid $header_line_color;
    }
    h5 {
        font-size: 110%;
        margin-top: 1em;
        margin-bottom: 1em;
        border-bottom: 1px solid $header_line_color;
    }
    h6 {
        font-size: 105%;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    h6:after {
        content: " ——";
        color: $header_line_color;
    }

    .main {
        margin: 0 2em;
    }

    .main a {
        background: linear-gradient(to top, transparent 0%, $primary_alt_light_color 0%, $primary_alt_light_color 100%, transparent 100%) no-repeat left 0 bottom 0;
        background-size: 100% 4px;
    }

    .main a:hover {
        background-color: $primary_alt_light_color;
    }

    .main a[href*="rocksaying"]:after,
    .main a[href^="/archives/"]:after {
        content: ""; //"\f0c1"
    }

    .main a:after {
        @extend .iconfont;
        @extend .sup;
        content: "\f08e";
    }

    p {
        text-indent:2em;
        line-height:175%;
    }

    li {
        line-height:150%;
        padding-bottom: 0.5em;
    }

    img {
        display: block;
        border: 1px solid black;
        //border-radius: 4px;
        box-shadow:4px 4px 1px gray;
        background-color: #e6e6e6;
        padding: 6px;
        padding-bottom: 2.5em;
        margin: 2em auto 0 auto;
        //margin-top: 2em;
        cursor: pointer;
        /*max-width: 97%;
        min-width: 100px;*/
    }

    .img_title {
        font-weight: bold;
        font-size: 1.2em;
        color: $green_color;
        margin-top: -1.8em;
    }

    .note {
        //color: $note_text_color;
        //border: 2px dashed $gold_light_color;
        border: 1px solid black;
        background-color: khaki;
    }

    div.note {
        margin: 2em;
        padding: 1em;
        border-left: 0;
        border-right: 0;
    }

    span.note {
        float: right;
        clear: right;
        max-width: 20%;
        //border-left: 10px solid $gold_light_color;
        text-indent: 0;
        padding: 0.5em;
        margin: 0 0 0 0.5em;
        border-width: 0 0 0 1px;
        background-color: khaki;
        line-height: 120%;

        &_no {
            @extend .small;
            color: $red_color;
        }
    }

    del {
        text-decoration:line-through;
        color:gray;
    }

    dfn, em {
        font-style:normal;
        color:$green_color;
        font-weight: bold;
    }

    strong {
        font-style: normal;
        color:$blue_color;
        font-weight: bold;
        text-decoration: underline;
    }

    code, kbd, var {
        font-family:monospace;
    }

    code {
        background-color: $code_bg_color;
        // border: $code_border;
        vertical-align: middle;
        padding: 2px 5px;
    }

    var {
        color:$red_dark_color;
        font-style:normal;
        font-weight: bold;
    }

    kbd {
        border: 1px solid #c6cbd1;
        vertical-align: middle;
        padding: 2px 5px;
        border-bottom-color: #959da5;
        border-radius: 3px;
        box-shadow: inset 0 -1px 0 #959da5;

        /*&:after {
            @extend .iconfont;
            @extend .sup;
            content: " \f11c";
        }*/
    }
} //article

#adside {
    display: block;
    box-sizing: border-box;
    // position: fixed;
    // top: ???px;
    width: 268px;
}

#adbottom {
    display: block;
}

/**** start code highlight ****/
/*
.highlighttable {
    border-collapse: collapse;
    border-spacing: 0;
    border: $code_border;
    width: 100%;

    .linenos {
        color: rgb(230,230,230);
        background-color: $code_border_color;
        width: 2%;
        max-width: 5%;
        text-align: right;
    }
    code { // line no
        background: $code_border_color;
    }

    .highlight {
        border: 0;
        background: transparent;
    }
    .code {
        padding: 0;
        background: $code_bg_color;
    }
}
*/

div.highlight, figure.highlight /*, .language-text*/ {
    border: $code_border;
    // border-left: 5px solid $code_border_color;
    background: $code_bg_color;
    padding: 0;
    overflow-x: auto;
    overflow-y: hidden;

    code {
        border: 0;
        background: transparent;
    }
    
    table.rouge-table {
        border-spacing: 0;
        border-collapse: collapse;
    }
    
    pre {
        margin: 0.5em;

        .lineno {
            color: darkcyan;
            width: 2em;
            border-right: 1px solid lightgrey;
            text-align: center;
            margin: 0 8px 0 -8px;
        }
    }
}

pre.language-text {
    border: $code_border;
    background: $code_bg_color;
    padding: 5px;
    tab-size: 4;
    -moz-tab-size: 4;
}

.language-plaintext {
    background: $code_bg_color;
    padding: 4px 8px;
}

.language-term {
    display: block;
    padding: 0px 10px 10px;
    color: #FFF;
    background-color: #000;
    // border: 3px solid rgb(220,225,230);

    &:before {
        display: block;
        color: black;
        background-color: rgb(220,225,230);
        @extend .iconfont;
        content: " Command Line \f120";
        margin: 0px -10px 10px -10px;
    }
}
/**** end code highlight ****/

/**** start quote ****/
blockquote {
    color: rgb(50,55,110);
    line-height:150%;
    // background-color: $code_bg_color;
    background-color: $green_lightest_color;
    border-radius: 1em;
    padding: 0 1em;

    &:before {
        @extend .iconfont;
        content: "\f10d";
        display: block;
        margin-left: -2em;
    }
    &:after {
        @extend .iconfont;
        content: "\f10e";
        display: block;
        margin-right: -2em;
        text-align: right;
    }

    cite {
        display:block;
        text-align:right;
        text-decoration: none;
        font-style: italic;
    }

    cite:before {
        content:"\2014";
        padding-right: 4pt;
    }
}

q {
    font-style: italic;
}

cite {
    font-style: normal;
    text-decoration: underline;
    text-decoration-style: wavy;
    -webkit-text-decoration-style: wavy;
}

/**** end blockquote ****/

.roodo-comment-date {
    border-bottom: 1px dotted $blue_darkest_color;
}

.roodo-comment-text {
    padding: .5em 1em 0 1em;
}

// X-Large devices
@media (min-width: 1200px) {
    article {
        padding: 2em 10% 1em 10%;
    }
}

// X-Small devices
@media screen and (max-width: 575.98px) {
    body,
    p {
        font-size: $phone_font_size;
    }

    #site_header {
        text-shadow: none;

        figcaption {
            font-size: 120%;
        }

        .site_title2,
        .site_description,
        #site_search {
            display:none;
            visibility:hidden;
            height:0;
        }

        nav {
            .nav_item {
                font-size: 70%;
            }
        }
    }

    .side {
        width: 40%;
        margin: 0 0 1em 1em;
        border: 0;

        .profile {
            padding: 0;
        }

        .twitter {
            display: none;
            visibility:hidden;
        }
    }

    .posts {
        width: 100%;
        .index_article {
            padding: 1em;
            h1 {
                margin-left: 60px;
            }
            .excerpt {
                margin-left: 0;
            }
        }
        .bulletin {
            max-width: 55%;
        }
    }

    .post_header {
        font-size: 60%;
        line-height: 100%;
    }

    .post_date {
        font-size: 80%;
        line-height: 100%;
        width: 50px;

        &_day {
            font-size: 100%;
            line-height: 100%;
        }
    }

    #site_footer {
        text-shadow: none;

        .copyright_text {
            font-size: 70%;
        }

        .author,
        .copyright_text {
            width: 100%;
            float: none;
        }

        .copyright_logo {
            display: none;
            visibility:hidden;
        }
    }

    .post_footer {
        .share {
            height: 3em;
            max-height: 4em;
        }
    }

    article {
        padding: 0.5em;

        .main {
            margin: 0;
        }

        div.note {
            margin: 0.5em 1em;
        }
        span.note {
            max-width: 40%;
        }
    }

    .homepage_disqus {
        width: 90%;
        margin: 1em 2em;
    }
}

@media print {
    nav,
    #site_search,
    .post_footer,
    .site_counter,
    .site_title2, 
    .site_description,
    .copyright_logo {
        display:none;
        visibility:hidden;
        height:0;
    }
    
    #site_footer {
        .author {
            display:none;
            visibility:hidden;
            height:0;
        }
    }

    #site_header {
        text-shadow: none;
    }

    #site_footer {
        background-color: white;
    }
}
