<!DOCTYPE HTML>
<html>
{% assign cid=page.category %}{% assign title=site.cname[cid] %}{% assign posts=site.categories[cid] %}
{% include meta.html %}
<body>
{% include header.html %}

<!-- Google AdSense begin -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 文章上邊並列方塊 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6462614507506967"
     data-ad-slot="2105692813"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<!-- Google AdSense end -->

<section class="category">
<a name="page_top"></a>
<div class="feed"><span class="icon icon-feed"></span>
<a href="{{ site.baseurl }}/categories/{{ cid }}.xml">{{ site.name }}::{{ title }}</a>
</div>

<section class="posts">
{% for post in posts %}
<div class="category_list">
<span class="category_list_date">{{ post.date | date: "%F" }}</span>
<a href="{{ site.baseurl }}{{ post.url }}">
<span class="category_list_title">{{ post.title }}</span>
</a>
</div>
{% endfor %}
</section><!--posts-->
</section><!--category-->

<section class="site_map">
<div class="pagination">
<span class="page_number">
<a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: "page:num/", '' }}">分頁瀏覽</a>
</span>
{% include page_top.html %}
</div><!--pagination-->
</section><!--site_map-->

{% include footer.html %}
</body>
</html>