<html>
{% include meta.html %}

<body>
{% include header.html %}

<article>
<a name="page_top"></a>

<div class="post_date">
<div class="post_date_month">{{ page.date | date: "%m" }}月</div>
<div class="post_date_day">{{ page.date | date: "%d" }}</div>
<div class="post_date_year">{{ page.date | date: "%Y" }}</div>
</div>
<header class="post_header">
<div class="post_category">
<span class="icon icon-category"></span>
{% assign cid = page.categories[0] %}
分類: <div class="tag"><a href="{{ site.baseurl }}/categories/{{ cid }}.html">{{ site.cname[cid] }}</a></div>
</div>

<footer class="post_tags">
<span class="icon icon-tags"></span>
標籤:
{% for tag in page.tags %}
  <div class="tag">
  <a href="https://www.google.com.tw/search?q={{ tag }}+site:{{ site.url }}">{{ tag }}</a>
  </div>
{% endfor %}
</div>

<div class="lastupdated">
<span class="icon icon-lastupdated"></span>
最近更新:
{% if page.lastupdated %}
{{ page.lastupdated }}
{% else %}
{{ page.date | date: "%F" }}
{% endif %}
</div>
</header>

<h1>{{ page.title }}</h1>

<div class="main">
{{ content }}
</div>

<footer class="page_footer">
<div class="share">
<a href="https://twitter.com/share" class="twitter-share-button"
data-via="{{ site.author.twitter }}"
data-hashtags="{{ page.tags | join: ',' }}">Tweet</a>

<script src="//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.5"></script>
<div class="fb-like" data-href="{{ page.url }}" data-share="true"></div>
</div>

<div>
{% if page.previous %}
<span class="page_nav_previous">
<a href="{{ page.previous.url }}" title="{{ page.previous.title }}">
<span class="icon icon-previous"></span>
{{ page.previous.title | truncate: 14, ' ...' }}
</a>
</span>
{% endif %}

<span class="page_nav_top">
<a href="{{ page.url }}#page_top">
<span class="icon icon-top"></span>
卷頭
</a>
</span>

{% if page.next %}
<span class="page_nav_next">
<a href="{{ page.next.url }}" title="{{ page.next.title }}">
{{ page.next.title | truncate: 14, ' ...' }}
<span class="icon icon-next"></span>
</a>
</span>
{% endif %}
</div>
</footer>

</article>

{% include footer.html %}
</body>
</html>
