<!DOCTYPE HTML>
<html>
{% include meta.html %}

<body>
{% include header.html %}

<section class="post">
<a name="page_top"></a>

<article>
{% assign post=page %}
{% include post_date.html %}

<header class="post_header">
<div class="post_category">
<span class="icon icon-category"></span>
{% assign cid = page.categories[0] %}
分類: <div class="tag"><a href="{{ site.baseurl }}/categories/{{ cid }}.html">{{ site.cname[cid] }}</a></div>
</div>

<div class="post_tags">
<span class="icon icon-tags"></span>
標籤:
{% for tag in page.tags %}
  <div class="tag">
  <a href="https://www.google.com.tw/search?q={{ tag }}+site:{{ site.url }}">{{ tag }}</a>
  </div>
{% endfor %}
</div>

<div class="lastupdated">
<span class="icon icon-lastupdated"></span>
最近更新:
{% if page.lastupdated %}
{{ page.lastupdated }}
{% else %}
{{ page.date | date: "%F" }}
{% endif %}
</div>
</header>

<h1>{{ page.title }}</h1>

<div class="main">
{{ content }}
</div>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 文章上邊並列方塊 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6462614507506967"
     data-ad-slot="2105692813"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

<footer class="post_footer">

<div class="share">
{% unless page.comment %}
<span style="position:relative;top:-0.5em;">
<a href="{{ site.baseurl }}/#mydisqus" class="btn btn-share btn-success"><i class="icon icon-comment"></i>網站留言</a>
</span>
{% endunless %}

<span class="twitter-span" style="position:relative;top:-0.5em;">
<a href="https://twitter.com/share"
   class="twitter-share-button"
   data-via="{{ site.author.twitter }}"
   data-hashtags="{{ page.tags | join: ',' }}">Tweet</a>
</span>

<span class="facebook-span">
<!-- https://developers.facebook.com/docs/plugins/like-button -->
<script src="//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.9"></script>
<div class="fb-like" data-href="{{ page.url }}" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
</span>

</div>
<!--end share-->

<div class="pagination">
{% if page.previous %}
<span class="page_nav_previous">
<a href="{{ page.previous.url }}" title="{{ page.previous.title }}">
<span class="icon icon-previous"></span>
{{ page.previous.title | truncate: 20, ' ...' }}
</a>
</span>
{% endif %}

{% include page_top.html %}

{% if page.next %}
<span class="page_nav_next">
<a href="{{ page.next.url }}" title="{{ page.next.title }}">
{{ page.next.title | truncate: 20, ' ...' }}
<span class="icon icon-next"></span>
</a>
</span>
{% endif %}
</div>
<!--end pagination-->

{% if page.comment %}
<div id="disqus_thread"></div>
<script>
/**
LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
*/
var disqus_config = function () {
    this.page.url = "http://{{ site.url }}{{ site.baseurl }}{{ page.url }}";  // Replace PAGE_URL with your page's canonical URL variable

  {% case page.comment %}
  {% when 'shared' %}
    this.page.identifier = "{{ site.url }}"; // the post will shared the same thread of comments on this site.
  {% when 'single' %}
    this.page.identifier = "{{ page.id }}"; // single comment
  {% else %}
    this.page.identifier = "{{ page.comment }}"; // same title comment
  {% endcase %}
};
(function() {  // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = '//rocksaying.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
})();
</script>
{% endif %}

</footer>
</article>

</section>
<!--end post-->

{% include footer.html %}
</body>
</html>
